body {
    font: normal 18px Arial sans-serif;
}

#menu {
    width: 400px;
    height: 800px;
    border: 2px double #333333;;
    float: left;
    margin: 10px;
    overflow-x: scroll;
}

#container {
    height: 800px;
    width: 700px;
    border: 2px double #333333;;
    float: left;
    margin: 10px 10px 10px 0;
    overflow-y: scroll;
}

#edit-menu {
    clear: both;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
    border-top: 2px solid #333333;;
}


.dropdown-menu {
    background: url(image/down_arrow.png) no-repeat,
                linear-gradient(to top, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0));
    background-position: 100% 50%;
    height: 30px;

}

.size-list li {
    border: 1px solid #333333;;
}

#files {
    clear: both;
    border-top: 2px solid #333333;;
    padding: 20px 0 0 20px;
}

#files a {
    margin-right: 50px;
    text-decoration: none;
}

