    <div id="menu" class="container-fluid">
        <ul class="nav nav-list row-fluid">
            <li><a href="#"><i class="icon-folder-close"></i>Root</a></li>
            <li ng-repeat="obj in tree track by $index">
                <a ng-href="#{{obj.path}}" style="margin-left: {{ obj.level * 20 }}px;" ><!--ng-click="getFile()"-->
					<i class="icon-folder-close"></i>{{obj.name}}
				</a>
            </li>
            <!--<li class="folder"><a href="#/folder 1">Folder 1</a></li>-->
            <!--<li class="subfolder"><a href="#">subFolder 1</a></li>-->
            <!--<li class="subfolder"><a href="#">subFolder 2</a></li>-->
            <!--<li class="subfolder active"><a href="#">subFolder 3</a></li>-->
            <!--<li class="folder"><a href="#">Folder 2</a></li>-->
        </ul>
    </div>
    <div id="container">
        <ul class="breadcrumb">
            <li ng-repeat="breadcrumb in breadcrumbs">
				<a ng-href="#{{ breadcrumb.link }}">{{ breadcrumb.title }}</a>
				<span class="divider" ng-show="!$last">/</span>
			</li>
        </ul>

        <div id="edit-menu">
            <div class="btn-group">
                <a href='#'><a class="btn"><i class="icon-plus"></i> Add </a></a>
                <a class="btn"><i class="icon-edit"></i> Edit </a>
                <a class="btn" ng-click="remove()"><i class="icon-remove"></i> Remove </a>
            </div>

            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Size of icons
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>Large</li>
                    <li>Medium</li>
                    <li>Small</li>
                </ul>
            </div>

        </div>

        <div id="files">
           <div ng-repeat="file in files" class="pull-left" style="margin-right: 20px;">
               <span id="item-file" ng-click="selectFile($index)" ng-dblclick="openFile($index)">
                <p>{{file.name}}</p></span>
            </div>
        </div>

    </div>
