    <div id="menu">
        <ul class="nav nav-list">
            <li><a href="#">Root</a></li>
            <li class="folder"><a href="#">Folder 1</a></li>
            <li class="subfolder"><a href="#">subFolder 1</a></li>
            <li class="subfolder"><a href="#">subFolder 2</a></li>
            <li class="subfolder active"><a href="#">subFolder 3</a></li>
            <li class="folder"><a href="#">Folder 2</a></li>
        </ul>
    </div>
    <div id="container">
        <ul class="breadcrumb">
            <li ng-repeat="breadcrumb in breadcrumbs">
				<a ng-href="#{{ breadcrumb.link }}">{{ breadcrumb.title }}</a>
				<span class="divider" ng-show="!$last">/</span>
			</li>
        </ul>

        <div id="edit-menu">
            <div class="btn-group">
                <a href='#/add'><button class="btn"><i class="icon-plus"></i> Add </button></a>
                <button class="btn"><i class="icon-edit"></i> Edit </button>
                <button class="btn"><i class="icon-remove"></i> Remove </button>
            </div>

            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Size of icons
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>Large</li>
                    <li>Medium</li>
                    <li>Small</li>
                </ul>
            </div>

        </div>

        <div id="files">
            <div class="pull-left">
                <a href="#"><i class="icon-search"></i>
                    <p>File1</p></a>
            </div>
            <div class="pull-left">
                <a href="#"><i class="icon-map-marker"></i>
                    <p>File2</p></a>
            </div>
            <div class="pull-left">
                <a href="#"><i class="icon-random"></i>
                    <p>File3</p></a>
            </div>
            <div class="pull-left">
                <a href="#"><i class="icon-filter"></i>
                    <p>File4</p></a>
            </div>
            <div class="pull-left">
                <a href="#"><i class="icon-fullscreen"></i>
                    <p>File5</p></a>
            </div>
        </div>

    </div>
