<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="../styles/main.scss">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
    <!-- endbuild -->
</head>
<body ng-controller="AddCtrl">
<script src="/bootstrap/js/bootstrap.js"></script>

<div class="hero-unit">
    <p>Upload new file:</p>
    <input type="file" name=files[] id="upload" multiple done="uploadFinished(e, data)">
</div>
</body>


